/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Oswald:wght@400;500;600;700&display=swap');

/*Aterisk Wildcard Selctor to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Project Styles*/
    color: #ffffff;
    font-family: 'Josfin-Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

}


/*Header*/
header {
    background-color: #3a3a3a;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #ffffff;
}

/*navbar styles with drop down toggle*/
nav {
    position: absolute;
    background-color: #3a3a3a;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #ffffff;
    display: none;
    top: 100%
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Content*/
main {

    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 95px;
}

/*Hero Section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero2.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /*final RGBA value sets transparency*/
    background-color: rgba(143, 151, 121, .7);
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px
}

#about-me {
    background-color: rgb(143, 151, 121)
}

#about-me-title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 250%;
}

#about-me>p {
    text-align: center;
    font-size: 150%
}

hr {
    border-top: 1px solid;
    margin: 5px 0;
}

#wedding1 {
    height: 90vwx;
    width: 100%;
}

family1 {
    height: 25vw;
    width: 100%;
}

/*Gallery Page*/
#gallery {
    background-color: #3a3a3a;
}

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/*Footer*/
footer {
    background-color: #3a3a3a;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
}

/*Media query: large or landscape phones (578px and up)*/
@media screen and (min-width: 578px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    main {
        /*push main content down to accomidate larger header*/
        margin-top: 150px;
    }

    /*Hero*/
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /*Gallery*/
    #photos {
        column-count: 3;
    }

}

/*larger devices (laptops & desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    /*Main content*/
    main {
        /*Bring main content in line with header*/
        margin-top: 78.59px;
    }

    /*Gallery*/
    #photos {
        column-count: 3;
    }

    .enlarge {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }

    /*change the number below to scale to the appropriate size*/
    .enlarge:hover {
        transform: scale(1.5);

    }
}